link(
	href="/basic/light/main.css",
	rel="stylesheet",
	title="Basic light",
	type="text/css"
)
link(
	href="/basic/dark/main.css",
	rel="alternate stylesheet",
	title="Basic dark",
	type="text/css"
)
link(
	href="/solarized/dark/main.css",
	rel="alternate stylesheet",
	title="Solarized dark",
	type="text/css"
)
